<div class="episode-card">
  <h4 class="subhead"><%= episode.name %></h4>
  <div class="columns small-12">
    <%= image_tag(episode.image.url) %>
  </div>
  <div class="columns small-12">
    <%= audio_tag(episode.file.url, controls: "controls") %>
  </div>
  <div class="columns small-12">
    <%= episode.description %>
  </div>
</div>
