<div class="row admin-container">
  <div class="columns small-12 admin-page-title">
    <h1>Podcast Episodes</h1>
  </div>
  <div class="columns small-12">
    <%= render partial: "podcast/episodes/table", locals: {episodes: @episodes} %>
  </div>
</div>
