<div class="row">
  <div class="columns small-12">
    <p id="notice"><%= notice %></p>
    <h2 class="subhead">Podcast Episodes</h2>
  </div>
  <div class="columns small-12 universal-flex-container universal-flex-natural admin-button-container">
    <%= link_to new_podcast_series_episode_path, class: "admin-button admin-new universal-flex-button flex-button-natural" do %>
      <i class="fa fa-plus"></i> Create
    <% end %>
  </div>
  <div class="columns small-12">
    <%= render partial: "podcast/episodes/table", locals: {episodes: @episodes} %>
  </div>
</div>
