<div class="row">
  <div class="columns small-12">
    <h1>New Episode</h1>

    <%= render 'form' %>

    <%= link_to 'Back', @series ? podcast_series_path(@series) : podcast_series_index_path %>
  </div>
</div>
